*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,cadetblue, #df7878);
    font-family: cursive;
}

.navbar{
    text-align: end;
    margin: 15px;
}
.navbar li{ 
    list-style: none;
}

.navbar a:hover{
    transform: scale(1.1);
    color: rgb(225, 167, 19);
    transition: 0.2s ease;
}


a{  
    margin: 20px;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
}
a:hover{
    background-color: transparent;
    transform: scale(1.1);
}

.titulo{
    text-align: center;
    text-shadow: 2px 2px 5px red;
    color:white;
    padding: 5px;
    margin: 20px;
    font-style: italic;
    font-size: 30px;
}

.container{
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 15px;
    width: 50%; /* Ancho de algo.. */
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 10px 1px 22px black;
    -webkit-box-shadow: 10px 1px 22px black;
    -moz-box-shadow: 10px 1px 22px  black;
}
 .container:hover{
    transform: scale(1);
    
 }

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
    margin: 0 30px;
}


.imgs img{
    margin-right: 10px;
    vertical-align: top;
}

.logo{
    align-items:flex-start;
    padding-left: 0;
    margin: 8px 0px 0px 0px;
    width: 60px;
    height: 60px;
    border:  none;
}

.fa-solid{
    margin: 10px 0px 0px 15px;
}

.logo:hover, .fa-solid:hover{
    transform: scale(1.1);
}

.info{
    font-size: 22px;
    padding: 15px 0 0 5px;
}

 
p{
    padding: 2px;
    font-size: 16px;
}

span{
    font-weight: bold;
    color:white;
}
span i{
    padding: 5px;
}
.columnas{
    width: 30%;
    float: left;
    margin-right: 5px;
    text-align: center;
}